# Ignore data folders
data/
results/

# Ignore specific outputs
*.csv
*.json

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
env/

# Ignore OS files
.DS_Store
Thumbs.db